$white:#fff;
$black:#000;
$hotpink:#F61067;
$beige:#FFFFFC;
$textTransformUpper:uppercase;
$fontStyleItalic:italic;
$fontStyleNormal:normal;
$displayFlex:flex;
$fontTheSeasonsLightItalic:"The Seasons Light Italic";
$fontTheSeasonsItalic:"The Seasons Italic";
$fontTheSeasonsLight:"The Seasons Light";
$fontMontserratAlternates:"Montserrat Alternates";

