.page2__wrapp{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    background-color: #fff;
}
.txt__page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}
.txt__page2 h2{
    text-align: center;
    font-size: 54px;
    line-height: 60px;
    color: #996B60;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 25px;
}
.txt__page2 p{
    font-size: 12px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    text-transform:uppercase;
    font-family: 'Roboto';
}
.products__row{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.product1__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}
.img__product1{
    background-image: url('./img/secondPic1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 381.76px;
    height: 451px;
}
.info__product1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt__product1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.txt__product1 h4{
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
    font-family:'Poppins';
    color: #996B60;
    margin-bottom: 15px;
}
.txt__product1 p{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto';
}
.info__product1 a{
    background-color: #000;
    width: 180px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-decoration: none;
}
.info__product1 a:hover{
    background-color: #996B60;
    transition: 2s;
    cursor: pointer;
}
.product2__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}
.img__product2{
    background-image: url('./img/secondPic2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 381.76px;
    height: 450px;
}
.info__product2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt__product2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.txt__product2 h4{
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
    font-family:'Poppins';
    color: #996B60;
    margin-bottom: 15px;
}
.txt__product2 p{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto';
}
.info__product2 a{
    background-color: #000;
    width: 180px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-decoration: none;
}
.info__product2 a:hover{
    background-color: #996B60;
    transition: 2s;
    cursor: pointer;
}
.product3__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__product3{
    background-image: url('./img/secondPic3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 381.76px;
    height: 450px;
}
.info__product3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt__product3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.txt__product3 h4{
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
    font-family:'Poppins';
    color: #996B60;
    margin-bottom: 15px;
}
.txt__product3 p{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto';
}
.info__product3 a{
    background-color: #000;
    width: 180px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-decoration: none;
}
.info__product3 a:hover{
    background-color: #996B60;
    transition: 2s;
    cursor: pointer;
}
@media only screen and (max-width: 1300px) {
    .txt__page2 h2{
        margin-top: 15px;
        font-size: 35px;
        line-height: 40px;
    }
    .img__product1, .img__product2, .img__product3{
        width: 281px;
        height: 351px;
    }
    .txt__product1 h4, .txt__product2 h4,.txt__product3 h4{
        font-size: 25px;
    }
    .txt__product1 p, .txt__product2 p, .txt__product3 p{
        font-size: 13px;
        line-height: 20px;
    }
    .info__product1 a, .info__product2 a, .info__product3 a{
        width: 150px;
        height: 45px;
    }
}
@media only screen and (max-width:1100px){
    .page2__wrapp{
        height: 320vh;
    }
    .products__row{
        flex-direction: column;
    }
    .product1__row, .product2__row, .product3__row{
        margin-right: 0px;
    }
    .product2__row, .product3__row{
        margin-top: 30px;
    }
}